.card {
  max-width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #38b2ac;
  color: white;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 1;
}

.statusBadge {
  position: absolute;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 1;
  color: white;
}

.ownedBadge {
  top: 0.5rem;
  left: 0.5rem;
  background-color: #805ad5; /* Purple */
}

.notListedBadge {
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #e53e3e; /* Red */
}

.content {
  padding: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  color: #718096;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 2.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tokenId {
  font-size: 0.875rem;
  color: #718096;
}

.viewBadge {
  background-color: #9f7aea;
  color: white;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.price {
  background-color: #3182ce;
  color: white;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
} 